IDI_ICON1 ICON DISCARDABLE "workplase.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,9,0,0
PRODUCTVERSION  0,9,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",        " "
            VALUE "FileDescription",    "workerplace"
            VALUE "FileVersion",        "0.9.0.0\0"
            VALUE "InternalName",       "workerplace"
            VALUE "LegalCopyright",     "Copyright © Krivorak V.A."
            VALUE "LegalTrademarks1",   " "
            VALUE "LegalTrademarks2",   " "
            VALUE "OriginalFilename",   "workerplace.exe"
            VALUE "ProductName",        "workerplace"
            VALUE "ProductVersion",     "0.9.0\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END
